{% extends "base.html" %}

{% load static %}
{% load sprites %}
{% load string_extras %}

{% block title %}#{{ p.pokeapi_id }} · {{ p.name|title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<div class="dex-container">
  <div class="dex-card {% if primary %}type-{{ primary.slug }}{% else %}type-unknown{% endif %}">

    {% include "pokemon/parts/_header.html" %}

    <div class="dex-body">
      {% include "pokemon/parts/_about_flavor.html" %}
      {% include "pokemon/parts/_stats.html" %}
      {% include "pokemon/parts/_info.html" %}
    </div>

    {% include "pokemon/parts/_evolution.html" %}

    {% include "pokemon/parts/_forms_strip.html" %}
  </div>
</div>

{% include "pokemon/parts/_moves.html" %}
{% include "pokemon/parts/_encounters.html" %}
{% endblock %}

{% block extra_js %}
  <script type="module" src="{% static 'js/compare-buttons.js' %}"></script>
  <script type="module" src="{% static 'js/favorites-buttons.js' %}"></script>
  <script type="module" src="{% static 'js/flavor.js' %}"></script>
{% endblock %}